body {
    background-color: #0034a39a;
}

.white-key {
    width: 20px;
    height: 40px;
    background-color: white;
    transform:translate(-50%, -50%);
}

.black-key {
    position: absolute;
    z-index: -1;
    display: none;
}

.keyboard, .keyboard > div {
    position: absolute;
    height: 200px;
}
